.flip-transition
    display block

.flip-enter
    animation flip-in .7s

.flip-leave
    animation flip-in .7s reverse

@keyframes flip-in
    0%
        transform perspective(2000px) rotateY(-90deg)
    100%
        transform perspective(2000px) rotateY(0)
