.teeth-15--01
  background-position -0px -0px
  width 64px
  height 255px

.teeth-15--02
  background-position -64px -0px
  width 64px
  height 255px

.teeth-15--03
  background-position -128px -0px
  width 64px
  height 255px

.teeth-15--04
  background-position -192px -0px
  width 64px
  height 255px

.teeth-15--05
  background-position -256px -0px
  width 64px
  height 255px

.teeth-15--06
  background-position -0px -255px
  width 64px
  height 255px

.teeth-15--07
  background-position -64px -255px
  width 64px
  height 255px

.teeth-15--08
  background-position -128px -255px
  width 64px
  height 255px

.teeth-15--09
  background-position -192px -255px
  width 64px
  height 255px

.teeth-15--10
  background-position -256px -255px
  width 64px
  height 255px

.teeth-15--11
  background-position -0px -510px
  width 64px
  height 255px

.teeth-15--12
  background-position -64px -510px
  width 64px
  height 255px

.teeth-15--14
  background-position -128px -510px
  width 64px
  height 255px

.teeth-15--15
  background-position -192px -510px
  width 64px
  height 255px

.teeth-15--16
  background-position -256px -510px
  width 64px
  height 255px

.teeth-15--17
  background-position -0px -765px
  width 64px
  height 255px

.teeth-15--18
  background-position -64px -765px
  width 64px
  height 255px

.teeth-15--19
  background-position -128px -765px
  width 64px
  height 255px

.teeth-15--20
  background-position -192px -765px
  width 64px
  height 255px

.teeth-15--21
  background-position -256px -765px
  width 64px
  height 255px

.teeth-15--22
  background-position -0px -1020px
  width 64px
  height 255px

.teeth-15--23
  background-position -64px -1020px
  width 64px
  height 255px

.teeth-15--24
  background-position -128px -1020px
  width 64px
  height 255px

.teeth-15--25
  background-position -192px -1020px
  width 64px
  height 255px

.teeth-15--26
  background-position -256px -1020px
  width 64px
  height 255px
