.teeth-14--01
  background-position -0px -0px
  width 66px
  height 255px

.teeth-14--02
  background-position -66px -0px
  width 66px
  height 255px

.teeth-14--03
  background-position -132px -0px
  width 66px
  height 255px

.teeth-14--04
  background-position -198px -0px
  width 66px
  height 255px

.teeth-14--05
  background-position -264px -0px
  width 66px
  height 255px

.teeth-14--06
  background-position -0px -255px
  width 66px
  height 255px

.teeth-14--07
  background-position -66px -255px
  width 66px
  height 255px

.teeth-14--08
  background-position -132px -255px
  width 66px
  height 255px

.teeth-14--09
  background-position -198px -255px
  width 66px
  height 255px

.teeth-14--10
  background-position -264px -255px
  width 66px
  height 255px

.teeth-14--11
  background-position -0px -510px
  width 66px
  height 255px

.teeth-14--12
  background-position -66px -510px
  width 66px
  height 255px

.teeth-14--14
  background-position -132px -510px
  width 66px
  height 255px

.teeth-14--15
  background-position -198px -510px
  width 66px
  height 255px

.teeth-14--16
  background-position -264px -510px
  width 66px
  height 255px

.teeth-14--17
  background-position -0px -765px
  width 66px
  height 255px

.teeth-14--18
  background-position -66px -765px
  width 66px
  height 255px

.teeth-14--19
  background-position -132px -765px
  width 66px
  height 255px

.teeth-14--20
  background-position -198px -765px
  width 66px
  height 255px

.teeth-14--21
  background-position -264px -765px
  width 66px
  height 255px

.teeth-14--22
  background-position -0px -1020px
  width 66px
  height 255px

.teeth-14--23
  background-position -66px -1020px
  width 66px
  height 255px

.teeth-14--24
  background-position -132px -1020px
  width 66px
  height 255px

.teeth-14--25
  background-position -198px -1020px
  width 66px
  height 255px

.teeth-14--26
  background-position -264px -1020px
  width 66px
  height 255px
