.teeth-18--01
  background-position -0px -0px
  width 82px
  height 255px

.teeth-18--02
  background-position -82px -0px
  width 82px
  height 255px

.teeth-18--03
  background-position -164px -0px
  width 82px
  height 255px

.teeth-18--04
  background-position -246px -0px
  width 82px
  height 255px

.teeth-18--05
  background-position -328px -0px
  width 82px
  height 255px

.teeth-18--06
  background-position -0px -255px
  width 82px
  height 255px

.teeth-18--07
  background-position -82px -255px
  width 82px
  height 255px

.teeth-18--08
  background-position -164px -255px
  width 82px
  height 255px

.teeth-18--09
  background-position -246px -255px
  width 82px
  height 255px

.teeth-18--10
  background-position -328px -255px
  width 82px
  height 255px

.teeth-18--11
  background-position -0px -510px
  width 82px
  height 255px

.teeth-18--12
  background-position -82px -510px
  width 82px
  height 255px

.teeth-18--14
  background-position -164px -510px
  width 82px
  height 255px

.teeth-18--15
  background-position -246px -510px
  width 82px
  height 255px

.teeth-18--16
  background-position -328px -510px
  width 82px
  height 255px

.teeth-18--17
  background-position -0px -765px
  width 82px
  height 255px

.teeth-18--18
  background-position -82px -765px
  width 82px
  height 255px

.teeth-18--19
  background-position -164px -765px
  width 82px
  height 255px

.teeth-18--20
  background-position -246px -765px
  width 82px
  height 255px

.teeth-18--21
  background-position -328px -765px
  width 82px
  height 255px

.teeth-18--22
  background-position -0px -1020px
  width 82px
  height 255px

.teeth-18--23
  background-position -82px -1020px
  width 82px
  height 255px

.teeth-18--24
  background-position -164px -1020px
  width 82px
  height 255px

.teeth-18--25
  background-position -246px -1020px
  width 82px
  height 255px

.teeth-18--26
  background-position -328px -1020px
  width 82px
  height 255px
