.teeth-16--01
  background-position -0px -0px
  width 100px
  height 255px

.teeth-16--02
  background-position -100px -0px
  width 100px
  height 255px

.teeth-16--03
  background-position -200px -0px
  width 100px
  height 255px

.teeth-16--04
  background-position -300px -0px
  width 100px
  height 255px

.teeth-16--05
  background-position -400px -0px
  width 100px
  height 255px

.teeth-16--06
  background-position -0px -255px
  width 100px
  height 255px

.teeth-16--07
  background-position -100px -255px
  width 100px
  height 255px

.teeth-16--08
  background-position -200px -255px
  width 100px
  height 255px

.teeth-16--09
  background-position -300px -255px
  width 100px
  height 255px

.teeth-16--10
  background-position -400px -255px
  width 100px
  height 255px

.teeth-16--11
  background-position -0px -510px
  width 100px
  height 255px

.teeth-16--12
  background-position -100px -510px
  width 100px
  height 255px

.teeth-16--14
  background-position -200px -510px
  width 100px
  height 255px

.teeth-16--15
  background-position -300px -510px
  width 100px
  height 255px

.teeth-16--16
  background-position -400px -510px
  width 100px
  height 255px

.teeth-16--17
  background-position -0px -765px
  width 100px
  height 255px

.teeth-16--18
  background-position -100px -765px
  width 100px
  height 255px

.teeth-16--19
  background-position -200px -765px
  width 100px
  height 255px

.teeth-16--20
  background-position -300px -765px
  width 100px
  height 255px

.teeth-16--21
  background-position -400px -765px
  width 100px
  height 255px

.teeth-16--22
  background-position -0px -1020px
  width 100px
  height 255px

.teeth-16--23
  background-position -100px -1020px
  width 100px
  height 255px

.teeth-16--24
  background-position -200px -1020px
  width 100px
  height 255px

.teeth-16--25
  background-position -300px -1020px
  width 100px
  height 255px

.teeth-16--26
  background-position -400px -1020px
  width 100px
  height 255px
