.teeth-12--01
  background-position -0px -0px
  width 61px
  height 255px

.teeth-12--02
  background-position -61px -0px
  width 61px
  height 255px

.teeth-12--03
  background-position -122px -0px
  width 61px
  height 255px

.teeth-12--04
  background-position -183px -0px
  width 61px
  height 255px

.teeth-12--05
  background-position -244px -0px
  width 61px
  height 255px

.teeth-12--06
  background-position -0px -255px
  width 61px
  height 255px

.teeth-12--07
  background-position -61px -255px
  width 61px
  height 255px

.teeth-12--08
  background-position -122px -255px
  width 61px
  height 255px

.teeth-12--09
  background-position -183px -255px
  width 61px
  height 255px

.teeth-12--10
  background-position -244px -255px
  width 61px
  height 255px

.teeth-12--11
  background-position -0px -510px
  width 61px
  height 255px

.teeth-12--12
  background-position -61px -510px
  width 61px
  height 255px

.teeth-12--14
  background-position -122px -510px
  width 61px
  height 255px

.teeth-12--15
  background-position -183px -510px
  width 61px
  height 255px

.teeth-12--16
  background-position -244px -510px
  width 61px
  height 255px

.teeth-12--17
  background-position -0px -765px
  width 61px
  height 255px

.teeth-12--18
  background-position -61px -765px
  width 61px
  height 255px

.teeth-12--19
  background-position -122px -765px
  width 61px
  height 255px

.teeth-12--20
  background-position -183px -765px
  width 61px
  height 255px

.teeth-12--21
  background-position -244px -765px
  width 61px
  height 255px

.teeth-12--22
  background-position -0px -1020px
  width 61px
  height 255px

.teeth-12--23
  background-position -61px -1020px
  width 61px
  height 255px

.teeth-12--24
  background-position -122px -1020px
  width 61px
  height 255px

.teeth-12--25
  background-position -183px -1020px
  width 61px
  height 255px

.teeth-12--26
  background-position -244px -1020px
  width 61px
  height 255px
