/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$worm_00_name = 'worm-00';
$worm_00_x = 617px;
$worm_00_y = 0px;
$worm_00_offset_x = -617px;
$worm_00_offset_y = 0px;
$worm_00_width = 617px;
$worm_00_height = 700px;
$worm_00_total_width = 4319px;
$worm_00_total_height = 3500px;
$worm_00_image = '../imgs/worm.png';
$worm_00 = 617px 0px -617px 0px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-00';
$worm_01_name = 'worm-01';
$worm_01_x = 617px;
$worm_01_y = 2100px;
$worm_01_offset_x = -617px;
$worm_01_offset_y = -2100px;
$worm_01_width = 617px;
$worm_01_height = 700px;
$worm_01_total_width = 4319px;
$worm_01_total_height = 3500px;
$worm_01_image = '../imgs/worm.png';
$worm_01 = 617px 2100px -617px -2100px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-01';
$worm_02_name = 'worm-02';
$worm_02_x = 1234px;
$worm_02_y = 0px;
$worm_02_offset_x = -1234px;
$worm_02_offset_y = 0px;
$worm_02_width = 617px;
$worm_02_height = 700px;
$worm_02_total_width = 4319px;
$worm_02_total_height = 3500px;
$worm_02_image = '../imgs/worm.png';
$worm_02 = 1234px 0px -1234px 0px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-02';
$worm_03_name = 'worm-03';
$worm_03_x = 0px;
$worm_03_y = 700px;
$worm_03_offset_x = 0px;
$worm_03_offset_y = -700px;
$worm_03_width = 617px;
$worm_03_height = 700px;
$worm_03_total_width = 4319px;
$worm_03_total_height = 3500px;
$worm_03_image = '../imgs/worm.png';
$worm_03 = 0px 700px 0px -700px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-03';
$worm_04_name = 'worm-04';
$worm_04_x = 617px;
$worm_04_y = 700px;
$worm_04_offset_x = -617px;
$worm_04_offset_y = -700px;
$worm_04_width = 617px;
$worm_04_height = 700px;
$worm_04_total_width = 4319px;
$worm_04_total_height = 3500px;
$worm_04_image = '../imgs/worm.png';
$worm_04 = 617px 700px -617px -700px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-04';
$worm_05_name = 'worm-05';
$worm_05_x = 1234px;
$worm_05_y = 700px;
$worm_05_offset_x = -1234px;
$worm_05_offset_y = -700px;
$worm_05_width = 617px;
$worm_05_height = 700px;
$worm_05_total_width = 4319px;
$worm_05_total_height = 3500px;
$worm_05_image = '../imgs/worm.png';
$worm_05 = 1234px 700px -1234px -700px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-05';
$worm_06_name = 'worm-06';
$worm_06_x = 1851px;
$worm_06_y = 0px;
$worm_06_offset_x = -1851px;
$worm_06_offset_y = 0px;
$worm_06_width = 617px;
$worm_06_height = 700px;
$worm_06_total_width = 4319px;
$worm_06_total_height = 3500px;
$worm_06_image = '../imgs/worm.png';
$worm_06 = 1851px 0px -1851px 0px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-06';
$worm_07_name = 'worm-07';
$worm_07_x = 1851px;
$worm_07_y = 700px;
$worm_07_offset_x = -1851px;
$worm_07_offset_y = -700px;
$worm_07_width = 617px;
$worm_07_height = 700px;
$worm_07_total_width = 4319px;
$worm_07_total_height = 3500px;
$worm_07_image = '../imgs/worm.png';
$worm_07 = 1851px 700px -1851px -700px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-07';
$worm_08_name = 'worm-08';
$worm_08_x = 0px;
$worm_08_y = 1400px;
$worm_08_offset_x = 0px;
$worm_08_offset_y = -1400px;
$worm_08_width = 617px;
$worm_08_height = 700px;
$worm_08_total_width = 4319px;
$worm_08_total_height = 3500px;
$worm_08_image = '../imgs/worm.png';
$worm_08 = 0px 1400px 0px -1400px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-08';
$worm_09_name = 'worm-09';
$worm_09_x = 617px;
$worm_09_y = 1400px;
$worm_09_offset_x = -617px;
$worm_09_offset_y = -1400px;
$worm_09_width = 617px;
$worm_09_height = 700px;
$worm_09_total_width = 4319px;
$worm_09_total_height = 3500px;
$worm_09_image = '../imgs/worm.png';
$worm_09 = 617px 1400px -617px -1400px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-09';
$worm_10_name = 'worm-10';
$worm_10_x = 1234px;
$worm_10_y = 1400px;
$worm_10_offset_x = -1234px;
$worm_10_offset_y = -1400px;
$worm_10_width = 617px;
$worm_10_height = 700px;
$worm_10_total_width = 4319px;
$worm_10_total_height = 3500px;
$worm_10_image = '../imgs/worm.png';
$worm_10 = 1234px 1400px -1234px -1400px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-10';
$worm_11_name = 'worm-11';
$worm_11_x = 1851px;
$worm_11_y = 1400px;
$worm_11_offset_x = -1851px;
$worm_11_offset_y = -1400px;
$worm_11_width = 617px;
$worm_11_height = 700px;
$worm_11_total_width = 4319px;
$worm_11_total_height = 3500px;
$worm_11_image = '../imgs/worm.png';
$worm_11 = 1851px 1400px -1851px -1400px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-11';
$worm_12_name = 'worm-12';
$worm_12_x = 2468px;
$worm_12_y = 0px;
$worm_12_offset_x = -2468px;
$worm_12_offset_y = 0px;
$worm_12_width = 617px;
$worm_12_height = 700px;
$worm_12_total_width = 4319px;
$worm_12_total_height = 3500px;
$worm_12_image = '../imgs/worm.png';
$worm_12 = 2468px 0px -2468px 0px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-12';
$worm_13_name = 'worm-13';
$worm_13_x = 2468px;
$worm_13_y = 700px;
$worm_13_offset_x = -2468px;
$worm_13_offset_y = -700px;
$worm_13_width = 617px;
$worm_13_height = 700px;
$worm_13_total_width = 4319px;
$worm_13_total_height = 3500px;
$worm_13_image = '../imgs/worm.png';
$worm_13 = 2468px 700px -2468px -700px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-13';
$worm_14_name = 'worm-14';
$worm_14_x = 2468px;
$worm_14_y = 1400px;
$worm_14_offset_x = -2468px;
$worm_14_offset_y = -1400px;
$worm_14_width = 617px;
$worm_14_height = 700px;
$worm_14_total_width = 4319px;
$worm_14_total_height = 3500px;
$worm_14_image = '../imgs/worm.png';
$worm_14 = 2468px 1400px -2468px -1400px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-14';
$worm_15_name = 'worm-15';
$worm_15_x = 0px;
$worm_15_y = 2100px;
$worm_15_offset_x = 0px;
$worm_15_offset_y = -2100px;
$worm_15_width = 617px;
$worm_15_height = 700px;
$worm_15_total_width = 4319px;
$worm_15_total_height = 3500px;
$worm_15_image = '../imgs/worm.png';
$worm_15 = 0px 2100px 0px -2100px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-15';
$worm_16_name = 'worm-16';
$worm_16_x = 0px;
$worm_16_y = 0px;
$worm_16_offset_x = 0px;
$worm_16_offset_y = 0px;
$worm_16_width = 617px;
$worm_16_height = 700px;
$worm_16_total_width = 4319px;
$worm_16_total_height = 3500px;
$worm_16_image = '../imgs/worm.png';
$worm_16 = 0px 0px 0px 0px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-16';
$worm_17_name = 'worm-17';
$worm_17_x = 1234px;
$worm_17_y = 2100px;
$worm_17_offset_x = -1234px;
$worm_17_offset_y = -2100px;
$worm_17_width = 617px;
$worm_17_height = 700px;
$worm_17_total_width = 4319px;
$worm_17_total_height = 3500px;
$worm_17_image = '../imgs/worm.png';
$worm_17 = 1234px 2100px -1234px -2100px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-17';
$worm_18_name = 'worm-18';
$worm_18_x = 1851px;
$worm_18_y = 2100px;
$worm_18_offset_x = -1851px;
$worm_18_offset_y = -2100px;
$worm_18_width = 617px;
$worm_18_height = 700px;
$worm_18_total_width = 4319px;
$worm_18_total_height = 3500px;
$worm_18_image = '../imgs/worm.png';
$worm_18 = 1851px 2100px -1851px -2100px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-18';
$worm_19_name = 'worm-19';
$worm_19_x = 2468px;
$worm_19_y = 2100px;
$worm_19_offset_x = -2468px;
$worm_19_offset_y = -2100px;
$worm_19_width = 617px;
$worm_19_height = 700px;
$worm_19_total_width = 4319px;
$worm_19_total_height = 3500px;
$worm_19_image = '../imgs/worm.png';
$worm_19 = 2468px 2100px -2468px -2100px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-19';
$worm_20_name = 'worm-20';
$worm_20_x = 3085px;
$worm_20_y = 0px;
$worm_20_offset_x = -3085px;
$worm_20_offset_y = 0px;
$worm_20_width = 617px;
$worm_20_height = 700px;
$worm_20_total_width = 4319px;
$worm_20_total_height = 3500px;
$worm_20_image = '../imgs/worm.png';
$worm_20 = 3085px 0px -3085px 0px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-20';
$worm_21_name = 'worm-21';
$worm_21_x = 3085px;
$worm_21_y = 700px;
$worm_21_offset_x = -3085px;
$worm_21_offset_y = -700px;
$worm_21_width = 617px;
$worm_21_height = 700px;
$worm_21_total_width = 4319px;
$worm_21_total_height = 3500px;
$worm_21_image = '../imgs/worm.png';
$worm_21 = 3085px 700px -3085px -700px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-21';
$worm_22_name = 'worm-22';
$worm_22_x = 3085px;
$worm_22_y = 1400px;
$worm_22_offset_x = -3085px;
$worm_22_offset_y = -1400px;
$worm_22_width = 617px;
$worm_22_height = 700px;
$worm_22_total_width = 4319px;
$worm_22_total_height = 3500px;
$worm_22_image = '../imgs/worm.png';
$worm_22 = 3085px 1400px -3085px -1400px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-22';
$worm_23_name = 'worm-23';
$worm_23_x = 3085px;
$worm_23_y = 2100px;
$worm_23_offset_x = -3085px;
$worm_23_offset_y = -2100px;
$worm_23_width = 617px;
$worm_23_height = 700px;
$worm_23_total_width = 4319px;
$worm_23_total_height = 3500px;
$worm_23_image = '../imgs/worm.png';
$worm_23 = 3085px 2100px -3085px -2100px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-23';
$worm_24_name = 'worm-24';
$worm_24_x = 0px;
$worm_24_y = 2800px;
$worm_24_offset_x = 0px;
$worm_24_offset_y = -2800px;
$worm_24_width = 617px;
$worm_24_height = 700px;
$worm_24_total_width = 4319px;
$worm_24_total_height = 3500px;
$worm_24_image = '../imgs/worm.png';
$worm_24 = 0px 2800px 0px -2800px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-24';
$worm_25_name = 'worm-25';
$worm_25_x = 617px;
$worm_25_y = 2800px;
$worm_25_offset_x = -617px;
$worm_25_offset_y = -2800px;
$worm_25_width = 617px;
$worm_25_height = 700px;
$worm_25_total_width = 4319px;
$worm_25_total_height = 3500px;
$worm_25_image = '../imgs/worm.png';
$worm_25 = 617px 2800px -617px -2800px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-25';
$worm_26_name = 'worm-26';
$worm_26_x = 1234px;
$worm_26_y = 2800px;
$worm_26_offset_x = -1234px;
$worm_26_offset_y = -2800px;
$worm_26_width = 617px;
$worm_26_height = 700px;
$worm_26_total_width = 4319px;
$worm_26_total_height = 3500px;
$worm_26_image = '../imgs/worm.png';
$worm_26 = 1234px 2800px -1234px -2800px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-26';
$worm_27_name = 'worm-27';
$worm_27_x = 1851px;
$worm_27_y = 2800px;
$worm_27_offset_x = -1851px;
$worm_27_offset_y = -2800px;
$worm_27_width = 617px;
$worm_27_height = 700px;
$worm_27_total_width = 4319px;
$worm_27_total_height = 3500px;
$worm_27_image = '../imgs/worm.png';
$worm_27 = 1851px 2800px -1851px -2800px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-27';
$worm_28_name = 'worm-28';
$worm_28_x = 2468px;
$worm_28_y = 2800px;
$worm_28_offset_x = -2468px;
$worm_28_offset_y = -2800px;
$worm_28_width = 617px;
$worm_28_height = 700px;
$worm_28_total_width = 4319px;
$worm_28_total_height = 3500px;
$worm_28_image = '../imgs/worm.png';
$worm_28 = 2468px 2800px -2468px -2800px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-28';
$worm_29_name = 'worm-29';
$worm_29_x = 3085px;
$worm_29_y = 2800px;
$worm_29_offset_x = -3085px;
$worm_29_offset_y = -2800px;
$worm_29_width = 617px;
$worm_29_height = 700px;
$worm_29_total_width = 4319px;
$worm_29_total_height = 3500px;
$worm_29_image = '../imgs/worm.png';
$worm_29 = 3085px 2800px -3085px -2800px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-29';
$worm_30_name = 'worm-30';
$worm_30_x = 3702px;
$worm_30_y = 0px;
$worm_30_offset_x = -3702px;
$worm_30_offset_y = 0px;
$worm_30_width = 617px;
$worm_30_height = 700px;
$worm_30_total_width = 4319px;
$worm_30_total_height = 3500px;
$worm_30_image = '../imgs/worm.png';
$worm_30 = 3702px 0px -3702px 0px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-30';
$worm_31_name = 'worm-31';
$worm_31_x = 3702px;
$worm_31_y = 700px;
$worm_31_offset_x = -3702px;
$worm_31_offset_y = -700px;
$worm_31_width = 617px;
$worm_31_height = 700px;
$worm_31_total_width = 4319px;
$worm_31_total_height = 3500px;
$worm_31_image = '../imgs/worm.png';
$worm_31 = 3702px 700px -3702px -700px 617px 700px 4319px 3500px '../imgs/worm.png' 'worm-31';
$spritesheet_width = 4319px;
$spritesheet_height = 3500px;
$spritesheet_image = '../imgs/worm.png';
$spritesheet_sprites = $worm_00 $worm_01 $worm_02 $worm_03 $worm_04 $worm_05 $worm_06 $worm_07 $worm_08 $worm_09 $worm_10 $worm_11 $worm_12 $worm_13 $worm_14 $worm_15 $worm_16 $worm_17 $worm_18 $worm_19 $worm_20 $worm_21 $worm_22 $worm_23 $worm_24 $worm_25 $worm_26 $worm_27 $worm_28 $worm_29 $worm_30 $worm_31;
$spritesheet = 4319px 3500px '../imgs/worm.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
