@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$imgPath: "/imgs/";

@mixin home-bottom-img($path) {
  height: 60%;
  background: url($imgPath + $path) no-repeat center;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  justify-content: center;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 200;
}

.container-fluid {
  height: 100%;
}


.main-container {
  width: 70%;
  margin: 0 auto;
}

.home-top-row {
  height: 40%;
  margin-top: 15%;
  .home-logo-container {
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .home-logo {
      height: 120%;
      width: 64%;
    }
  }
  .home-text-container {
    height: 100%;
    padding: 0;
    margin: -2% 0 0 0;
    .home-text-wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h1 {
        margin: 0;
        font-size: 4vw;
      }
    }
  }
}



.home-bottom-row {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .home-grid {
    @include home-bottom-img('itp_grid.png');
    div {
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h1 {
        white-space: nowrap;
        font-size: 1.5vw;
        margin: 0;
      }
    }
    &:hover {
      @include home-bottom-img('itp_grid_hover.png');
      div {
        visibility: visible;
      }
    }
  }
  .home-tooth {
    @include home-bottom-img('itp_tooth.png');
    div {
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h1 {
        white-space: nowrap;
        font-size: 1.5vw;
        margin: 0;
      }
    }
    &:hover {
      @include home-bottom-img('itp_tooth_hover.png');
      div {
        visibility: visible;
      }
    }
  }
}





.btn-group-container {
  position: fixed;
  left: 15%;
  top: 0;
  .btn-group {
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 0;
    li {
      position: relative;
      margin: 2.5vw 0;
      .btn-circle {
        width: 6vw;
        height: 6vw;
        font-size: 3vw;
        font-weight: 200;
        border-radius: 50%;
        border: 1px black solid;
        background-color: black;
        color: white;
        &:hover {
          background-color: white;
          color: black;
        }
      }
      span {
        position: absolute;
        white-space: nowrap;
        font-size: 1vw;
        left: 115%;
        bottom: 35%;
        font-weight: 200;
      }
    }
  }
}
