.teeth-11--01
  background-position 0 0%
  background-size 100%

.teeth-11--02
  background-position 0 4.166667%
  background-size 100%

.teeth-11--03
  background-position 0 8.333333%
  background-size 100%

.teeth-11--04
  background-position 0 12.5%
  background-size 100%

.teeth-11--05
  background-position 0 16.666667%
  background-size 100%

.teeth-11--06
  background-position 0 20.833333%
  background-size 100%

.teeth-11--07
  background-position 0 25%
  background-size 100%

.teeth-11--08
  background-position 0 29.166667%
  background-size 100%

.teeth-11--09
  background-position 0 33.333333%
  background-size 100%

.teeth-11--10
  background-position 0 37.5%
  background-size 100%

.teeth-11--11
  background-position 0 41.666667%
  background-size 100%

.teeth-11--12
  background-position 0 45.833333%
  background-size 100%

.teeth-11--14
  background-position 0 50%
  background-size 100%

.teeth-11--15
  background-position 0 54.166667%
  background-size 100%

.teeth-11--16
  background-position 0 58.333333%
  background-size 100%

.teeth-11--17
  background-position 0 62.5%
  background-size 100%

.teeth-11--18
  background-position 0 66.666667%
  background-size 100%

.teeth-11--19
  background-position 0 70.833333%
  background-size 100%

.teeth-11--20
  background-position 0 75%
  background-size 100%

.teeth-11--21
  background-position 0 79.166667%
  background-size 100%

.teeth-11--22
  background-position 0 83.333333%
  background-size 100%

.teeth-11--23
  background-position 0 87.5%
  background-size 100%

.teeth-11--24
  background-position 0 91.666667%
  background-size 100%

.teeth-11--25
  background-position 0 95.833333%
  background-size 100%

.teeth-11--26
  background-position 0 100%
  background-size 100%
